@tailwind base;
@tailwind components;
@tailwind utilities;
body {
  /* background-color: #091017; */
  overflow-x: hidden;
}
.services::after {
  position: absolute;
  top: 0px;
  left: 0;
  content: "";
  width: 100%;
  height: 1px;
  background-color: #ffffff2e;
}

/* Customize Pagination Dots */

.swiper-pagination-bullet {
  width: 12px; /* Size of the dot */
  height: 12px;
  background-color: #ccc; /* Default color for dots */
  opacity: 1; /* Ensure it's fully visible */
  border-radius: 50%; /* Make it round */
  margin: 0 5px; /* Add some spacing between dots */
  transition: background-color 0.3s ease; /* Smooth transition for color change */
}

.swiper-pagination-bullet-active {
  background-color: #ff5722; /* Color for active dot */
  width: 12px; /* Slightly larger active dot */
  height: 12px;
  border-radius: 50%;
}
